# Checkpoint 1

Reminder: 

- You are being evaluated for compeletion and effort in this checkpoint. 
- Avoid manual labor / hard coding as much as possible, everything we've taught you so far are meant to simplify and automate your process.

We will be working with the same `states_edu.csv` that you should already be familiar with from the tutorial.

We investigated Grade 8 reading score in the tutorial. For this checkpoint, you are asked to investigate another test. Here's an overview:

* Choose a specific response variable to focus on
>Grade 4 Math, Grade 4 Reading, Grade 8 Math
* Pick or create features to use
>Will all the features be useful in predicting test score? Are some more important than others? Should you standardize, bin, or scale the data?
* Explore the data as it relates to that test
>Create at least 2 visualizations (graphs), each with a caption describing the graph and what it tells us about the data
* Create training and testing data
>Do you want to train on all the data? Only data from the last 10 years? Only Michigan data?
* Train a ML model to predict outcome 
>Define what you want to predict, and pick a model in sklearn to use (see sklearn <a href="https://scikit-learn.org/stable/modules/linear_model.html">regressors</a>.
* Summarize your findings
>Write a 1 paragraph summary of what you did and make a recommendation about if and how student performance can be predicted

Include comments throughout your code! Every cleanup and preprocessing task should be documented.

Of course, if you're finding this assignment interesting (and we really hope you do!), you are welcome to do more than the requirements! For example, you may want to see if expenditure affects 4th graders more than 8th graders. Maybe you want to look into the extended version of this dataset and see how factors like sex and race are involved. You can include all your work in this notebook when you turn it in -- just always make sure you explain what you did and interpret your results. Good luck!

<h2> Data Cleanup </h2>

Import `numpy`, `pandas`, and `matplotlib`.

(Feel free to import other libraries!)

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Load in the "states_edu.csv" dataset and take a look at the head of the data

In [53]:
df = pd.read_csv('/Users/rlatmddk/Documents/MDST/data/states_edu.csv')
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

You should always familiarize yourself with what each column in the dataframe represents. Read about the states_edu dataset here: https://www.kaggle.com/noriuk/us-education-datasets-unification-project

Use this space to rename columns, deal with missing data, etc. _(optional)_

In [54]:
df.rename({
    'GRADES_PK_G':'ENROLL_PREK',
    'GRADES_KG_G':'ENROLL_KINDER',
    'GRADES_4_G':'ENROLL_4',
    'GRADES_8_G':'ENROLL_8',
    'GRADES_12_G':'ENROLL_12',
    'GRADES_1_8_G':'ENROLL_PRIMARY',
    'GRADES_9_12_G':'ENROLL_HS',
    'GRADES_ALL_G':'ENROLL_ALL',
    'ENROLL':'ENROLL_ALL_EST'
    },
    axis=1,inplace=True)

df.dropna()
df['ENROLL_ALL'] = df['ENROLL_ALL'].fillna(df["ENROLL_PREK"]+df["ENROLL_PRIMARY"]+df["ENROLL_HS"])
df["ENROLL_ALL_EST"] = df["ENROLL_ALL_EST"].fillna(df["ENROLL_ALL"])

<h2>Exploratory Data Analysis (EDA) </h2>

Chosen Outcome Variable for Test: *AVG_READING_4_SCORE*

How many years of data are logged in our dataset?

->33 years

In [65]:
df.groupby("YEAR").count()

,PRIMARY_KEY,STATE,ENROLL_ALL_EST,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,ENROLL_4,ENROLL_8,ENROLL_12,ENROLL_PRIMARY,ENROLL_HS,ENROLL_ALL,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
YEAR,,,,,,,,,,,,,,,,,,,,,
1986,51,51,51,0,0,0,0,0,0,0,...,51,51,51,0,0,51,0,0,0,0
1987,51,51,51,0,0,0,0,0,0,0,...,51,51,51,0,0,51,0,0,0,0
1988,51,51,51,0,0,0,0,0,0,0,...,51,51,51,0,0,51,0,0,0,0
1989,51,51,51,0,0,0,0,0,0,0,...,51,51,51,0,0,51,0,0,0,0
1990,53,53,51,0,0,0,0,0,0,0,...,51,51,51,0,0,51,1,39,0,0
1991,51,51,51,0,0,0,0,0,0,0,...,51,51,51,0,0,51,0,0,0,0
1992,53,53,51,51,51,51,51,51,51,51,...,51,51,51,0,0,51,43,43,43,1
1993,51,51,51,51,51,51,51,51,51,51,...,51,51,51,0,0,51,0,0,0,0
1994,53,53,51,51,51,51,51,51,51,51,...,51,51,51,0,0,51,0,0,41,1
1995,51,51,51,51,51,51,51,51,51,51,...,51,51,51,0,0,51,0,0,0,0
1996,53,53,51,51,51,51,51,51,51,51,...,51,51,51,0,0,51,1,1,0,0
1997,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,0,0,0,0
1998,53,53,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,0,0,42,39
1999,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,0,0,0,0
2000,53,53,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,43,42,1,0
2001,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,0,0,0,0
2002,53,53,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,0,0,46,44
2003,53,53,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,53,53,53,53
2004,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,0,0,0,0
2005,53,53,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,53,53,53,53
2006,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,0,0,0,0
2007,53,53,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,53,53,53,53
2008,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,0,0,0,0
2009,53,53,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,53,53,53,53
2010,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,0,0,0,0
2011,53,53,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,53,53,53,53
2012,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,0,0,0,0
2013,53,53,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,53,53,53,53
2014,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,0,0,0,0
2015,53,53,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,53,53,53,53
2016,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,0,0,0,0
2017,53,53,51,0,0,0,0,0,0,0,...,51,51,51,0,51,51,53,53,53,53
2019,53,53,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,53,53,53,53

Let's compare Michigan to Ohio. Which state has the higher average outcome score across all years?

->OHIO

In [63]:
df_state = df.groupby("STATE")["AVG_READING_4_SCORE"].mean()

df_state

STATE
ALABAMA                 212.615385
ALASKA                  209.888889
ARIZONA                 210.230769
ARKANSAS                214.692308
CALIFORNIA              208.230769
COLORADO                222.666667
CONNECTICUT             227.000000
DELAWARE                220.384615
DISTRICT_OF_COLUMBIA    197.000000
DODEA                   228.636364
FLORIDA                 219.384615
GEORGIA                 216.230769
HAWAII                  210.153846
IDAHO                   221.000000
ILLINOIS                218.666667
INDIANA                 222.250000
IOWA                    222.538462
KANSAS                  222.000000
KENTUCKY                220.846154
LOUISIANA               207.230769
MAINE                   224.384615
MARYLAND                220.846154
MASSACHUSETTS           231.230769
MICHIGAN                217.833333
MINNESOTA               222.923077
MISSISSIPPI             207.769231
MISSOURI                220.538462
MONTANA                 224.000000
NATIONAL                218.928571
NEBRASKA                222.500000
NEVADA                  211.363636
NEW_HAMPSHIRE           228.083333
NEW_JERSEY              227.181818
NEW_MEXICO              207.384615
NEW_YORK                220.615385
NORTH_CAROLINA          219.230769
NORTH_DAKOTA            224.333333
OHIO                    223.181818
OKLAHOMA                216.750000
OREGON                  217.363636
PENNSYLVANIA            223.083333
RHODE_ISLAND            220.153846
SOUTH_CAROLINA          213.076923
SOUTH_DAKOTA            221.222222
TENNESSEE               215.538462
TEXAS                   216.384615
UTAH                    221.076923
VERMONT                 227.000000
VIRGINIA                224.230769
WASHINGTON              221.583333
WEST_VIRGINIA           215.615385
WISCONSIN               221.666667
WYOMING                 223.692308
Name: AVG_READING_4_SCORE, dtype: float64

Find the average for your outcome score across all states in 2019

In [73]:
df_2019 = df[df["YEAR"] == 2019]
df_state_2019 = df_2019.groupby("STATE")["AVG_READING_4_SCORE"].mean()
df_state_2019.head()

STATE
ALABAMA       212.0
ALASKA        204.0
ARIZONA       216.0
ARKANSAS      215.0
CALIFORNIA    216.0
Name: AVG_READING_4_SCORE, dtype: float64

Find the maximum outcome score for every state. 

Refer to the `Grouping and Aggregating` section in Tutorial 0 if you are stuck.

In [75]:
df_max = df.groupby("STATE")["AVG_READING_4_SCORE"].max()
df_max.head()

STATE
ALABAMA       220.0
ALASKA        214.0
ARIZONA       216.0
ARKANSAS      219.0
CALIFORNIA    216.0
Name: AVG_READING_4_SCORE, dtype: float64

<h2> Feature Engineering </h2>

After exploring the data, you can choose to modify features that you would use to predict the performance of the students on your chosen response variable. 

You can also create your own features. For example, perhaps you figured that maybe a state's expenditure per student may affect their overall academic performance so you create a expenditure_per_student feature.

Use this space to modify or create features.

Feature engineering justification: **<BRIEFLY DESCRIBE WHY YOU MADE THE CHANGES THAT YOU DID\>**

<h2>Visualization</h2>

Investigate the relationship between your chosen response variable and at least two predictors using visualizations. Write down your observations.

**Visualization 1**

**<CAPTION FOR VIZ 1>**

**Visualization 2**

**<CAPTION FOR VIZ 2>**

<h2> Data Creation </h2>

_Use this space to create train/test data_

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
# X =
# y =

In [58]:
# X_train, X_test, y_train, y_test = train_test_split(
#      X, y, test_size=, random_state=42)

<h2> Prediction </h2>

ML Models [Resource](https://medium.com/@vijaya.beeravalli/comparison-of-machine-learning-classification-models-for-credit-card-default-data-c3cf805c9a5a)

In [59]:
# import your sklearn class here

In [60]:
# create your model here
# model =

In [61]:
model.fit(X_train, y_train)

NameError: name 'model' is not defined

In [ ]:
y_pred = model.predict(X_test)

## Evaluation

Choose some metrics to evaluate the performance of your model, some of them are mentioned in the tutorial.

We have copied over the graphs that visualize the model's performance on the training and testing set. 

Change `col_name` and modify the call to `plt.ylabel()` to isolate how a single predictor affects the model.

In [ ]:
# col_name = 'COLUMN NAME OF ONE PREDICTOR'

# f = plt.figure(figsize=(12,6))
# plt.scatter(X_train[col_name], y_train, color = "red")
# plt.scatter(X_train[col_name], model.predict(X_train), color = "green")

# plt.legend(['True Training','Predicted Training'])
# plt.xlabel(col_name)
# plt.ylabel('NAME OF THE PREDICTOR')
# plt.title("Model Behavior On Training Set")

In [ ]:
# col_name = 'COLUMN NAME OF ONE PREDICTOR"

# f = plt.figure(figsize=(12,6))
# plt.scatter(X_test[col_name], y_test, color = "blue")
# plt.scatter(X_test[col_name], model.predict(X_test), color = "black")

# plt.legend(['True testing','Predicted testing'])
# plt.xlabel(col_name)
# plt.ylabel('NAME OF THE PREDICTOR')
# plt.title("Model Behavior on Testing Set")

<h2> Summary </h2>

**<WRITE A PARAGRAPH SUMMARIZING YOUR WORK, FINDINGS, AND THE PERFORMANCE OF YOUR MODEL\>**